main{
    height: 795px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > header{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 35px 30px;
    height: 210px;
}

.logo {
    width: 164px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.logo > img {
    object-fit: contain;
    width: 100%;
}
nav {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav > ul{
    display: flex;
    flex-direction: row;
    /* width: 590px; */
    height: 150px;
    height: auto;
    justify-content: space-between;
    /* padding: 30px 25px 45px 50px; */
}

nav > ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 135px;
}

nav > ul li a {
    font-size: var(--text-xl);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 542px;
}

.hero > h1{
    margin-bottom: 20px;
}

.hero > p {
    margin-bottom: 30px;
}


.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 855px;
    height: 105px;
    margin-bottom: 20px;
}

.fa-location-dot{
    width: 115px;
    background-color: var(--grey);
    border-radius: 30px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.search-bar button {
    width: 265px;
    background-color: var(--primary-color);
    border-radius: 0 30px 30px 0;
    color: white;
    font-size: var(--h1-xl);
    border: none;
}

.search-bar input{
    width: 474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    border: solid 1px var(--grey);
    font-size: var(--h1-l);
}

.search-bar input::placeholder{
    font-size: var(--h1-l);
    color: #000000;
    font-weight: var(--bold);
}
.filter{
    width: 1990px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.filter h2{
    font-size: var(--h1-l);
    font-weight: var(bold);
    margin-right: 60px;
}

.filter_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1690px;
}

.components{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 392px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
    border: 3px solid var(--grey);
}

.components i {
    width: 100px;
    height: 100px;
    background-color: var(--grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h1-l);
}

.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info > .fa-info{
    font-size: 28px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 3px solid var(--grey);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.info > p{
    font-size: 32px;
}