:root {
    --primary-color: #0065fc;
    --light-primary: #deebff;
    --grey: #f2f2f2;
    --grey-stars: #d9d9d9;
    --black: #000000;
    --bold: 600;
    --h1-xl: 44px;
    --h1-l: 36px;
    --h1-m: 18px;
    --h1-s: 14px;
    --text-xl: 28px;
    --h3-xl: 32px;
}

body {
    padding: 0 5%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--bold);

}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

li > a:hover {
    color: var(--primary-color)
}

.bold {
    font-weight: var(--bold);
}

p {
    font-size: var(--text-xl);
}

h1{
    font-size: var(--h1-xl);
}