.activities{
    display: flex;
    flex-direction: column;
    justify-content: content;
    margin-top: 125px;
}

.activity_title{
    font-size: var(--h2-xl);
    font-weight: var(--bold);
    margin-bottom: 60px;
}

.activities_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 85px;
    width: 100%;
}

.xl, .medium, .small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    box-shadow: 0px 0 20px 10px var(--grey);
    transition: box-shadow 150ms ease-in-out;
}

.xl:active, .medium:active, .small:active{   
    box-shadow:none;
}
.xl > h3, .medium > h3, .small > h3{
    font-size: var(--h3-xl);
    font-weight: 600;
    margin: 0 0 40px 40px;
}

.xl > picture > img, .medium > picture > img, .small > picture > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.xl{
    width: 607px;
    height: 894px;
}

.xl > picture {
    height: 784px;
}
.two-blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 605px;
    /* gap: 82px; */
}

.medium {
    width: 100%;
    height: 477px;
}

.medium > picture {
    height: 360px;
}

.small{
    width: 100%;
    height: 363px;
}

.small > picture{
    height: 218px;
}

@media screen and (max-width: 1536px) {
    .activities{
        margin-top: calc(125px / var(--desktop-ratio-xl));
    }
    
    .activity_title{
        font-size: calc(var(--h2-xl) / var(--desktop-ratio-xl));
        margin-bottom: calc(60px / var(--desktop-ratio-xl));
    }
    
    .activities_container{
        gap: calc(85px / var(--desktop-ratio-xl));
    }
    
    .xl, .medium, .small{
        border-radius: calc(40px / var(--desktop-ratio-xl));
        box-shadow: 0px 0 calc(20px / var(--desktop-ratio-xl)) calc(10px / var(--desktop-ratio-xl)) var(--grey);
    }

    .xl > h3, .medium > h3, .small > h3{
        font-size: calc(var(--h3-xl) / var(--desktop-ratio-xl));
        font-weight: 600;
        margin: 0 0 calc(40px / var(--desktop-ratio-xl)) calc(40px / var(--desktop-ratio-xl));
    }
    
    .xl > picture > img, .medium > picture > img, .small > picture > img{
        border-radius: calc(30px / var(--desktop-ratio-xl)) calc(30px / var(--desktop-ratio-xl)) 0 0;
    }
    
    .xl{
        width: calc(607px / var(--desktop-ratio-xl));
        height: calc(894px / var(--desktop-ratio-xl));
    }
    
    .xl > picture {
        height: calc(784px / var(--desktop-ratio-xl));
    }
    .two-blocks{
        width: calc(605px / var(--desktop-ratio-xl));
    }
    
    .medium {
        height: calc(477px / var(--desktop-ratio-xl));
    }
    
    .medium > picture {
        height: calc(360px / var(--desktop-ratio-xl));
    }
    
    .small{
        height: calc(363px / var(--desktop-ratio-xl));
    }
    
    .small > picture{
        height: calc(218px / var(--desktop-ratio-xl));
    }

}
@media screen and (max-width: 1280px) {
    .activities{
        margin-top: calc(125px / var(--desktop-ratio));
    }
    
    .activity_title{
        font-size: calc(var(--h2-xl) / var(--desktop-ratio));
        margin-bottom: calc(60px / var(--desktop-ratio));
    }
    
    .activities_container{
        gap: calc(85px / var(--desktop-ratio));
    }
    
    .xl, .medium, .small{
        border-radius: calc(40px / var(--desktop-ratio));
        box-shadow: 0px 0 calc(20px / var(--desktop-ratio)) calc(10px / var(--desktop-ratio)) var(--grey);
    }

    .xl > h3, .medium > h3, .small > h3{
        font-size: calc(var(--h3-xl) / var(--desktop-ratio));
        font-weight: 600;
        margin: 0 0 calc(40px / var(--desktop-ratio)) calc(40px / var(--desktop-ratio));
    }
    
    .xl > picture > img, .medium > picture > img, .small > picture > img{
        border-radius: calc(30px / var(--desktop-ratio)) calc(30px / var(--desktop-ratio)) 0 0;
    }
    
    .xl{
        width: calc(607px / var(--desktop-ratio));
        height: calc(894px / var(--desktop-ratio));
    }
    
    .xl > picture {
        height: calc(784px / var(--desktop-ratio));
    }
    .two-blocks{
        width: calc(605px / var(--desktop-ratio));
    }
    
    .medium {
        height: calc(477px / var(--desktop-ratio));
    }
    
    .medium > picture {
        height: calc(360px / var(--desktop-ratio));
    }
    
    .small{
        height: calc(363px / var(--desktop-ratio));
    }
    
    .small > picture{
        height: calc(218px / var(--desktop-ratio));
    }

}